body{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  
}

.invisible{
  display: none;
  visibility: hidden;
}

#hero-section {
  background-color: rgb(203, 227, 252);
  padding-top: 20px;
  border-bottom: 2px solid rgb(178, 188, 192);
}

#hero-section img {
  max-width: 100%;
}

#hero-section a {
  text-decoration: none;
}

#hero-section h1{
  font-family: 'Anton', sans-serif;
}

.text-with-emphasis {
  font-size: 1.1em;
  color: blueviolet;
}

#weather-section {
  background-color: rgb(212, 241, 241);  
  padding-top: 20px;
  border-bottom: 2px solid rgb(178, 188, 192);
  flex: 1 0 auto;
  margin-bottom: auto;
}

#city-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-width: 60%
}

#city-form * {
  margin-bottom: 10px;
}

#weather-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid gray;  
}

#weather-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#weather-measurements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.weather-meta-data {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(122, 142, 202);
  /* margin-top: auto;   */
     
}

footer a {
  font-size: 2em;
  color: black;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  body{
    text-align: center;
  }
  
  #hero-section img {
    max-width: 50%;
  }

  #hero-section h1, h2, h4{
    margin-bottom: 30px;
  }

  #city-form {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px;    
    max-width: 100%;

  }

  footer {
    display: flex;
    flex-direction: column;    
    align-items: center; 
    
  }

}
